.navbar {
  width: 100px;
  height: 100vh;
  box-shadow: 2px 2px 2px 1px whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  border-right: 1px solid #dcdcdc;
}
.list-icons {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.icons {
  width: 300px;
  height: 25px;
  margin-top: 10%;
  cursor: pointer;
  color: #231f20;
}
.first-box {
  margin-top: 20%;
}
.last-box {
  position: relative;
}
.drop-list {
  list-style: none;
}
.drop-list > li {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  font-size: 14px;
  cursor: pointer;
}
.drop-list > li:hover {
  color: rgba(26, 137, 23, 1);
}
